.top{
    background: #CBE9BF;
}
a{
    display: block;
    text-decoration: none !important;
    color: #3f1e5f !important;
    line-height: 150%;
}
a:hover{
    color: #3B75A9 !important;
}
a:hover i{
    color: #3B75A9;
}
.adminImg,.logoImg{
    width: 40px;
    height: 40px;
}
.adminImg{
    border-radius: 10px;
}
.nav-item i{
    color: #3f1e5f;
    /* font-size: 1.3rem; */
}
.view{
    padding-right: 10px;
    color: blue;
}
.confirm,.update{
    padding-right: 10px;
    color: green;
}
.cancel{
    color: red;
}
.nav-item{
    padding: 0.8rem 0rem;
    border-bottom: 1px solid grey;
}
.myinput{
    padding: 5px 2px;
}
.myimg{
    width: 50px;
    height: auto;
    border-radius: 5px;
}
.registerBtn {
    background-color: #8FCE00 !important;
  }
.registerBtn:hover {
    background-color: #75a604 !important;
    color: #ffffff !important;
  }
  .address{
    height: 100px !important;
  }
  .companyDetailsLogo{
   max-width: 100px;
   height: auto;
  }