/* .top{
    background: #CBE9BF;
} */
/* .left{
    height: 100vh;
} */
a{
    display: block;
    text-decoration: none !important;
    line-height: 150%;
    color: #3f1e5f !important;
}
.sidebar a{
    color: #fff !important;
}
a:hover{
    color: #3B75A9 !important;
}
a:hover i{
    color: #3B75A9;
}
.adminImg{
    width: 40px;
    height: 40px;
}
.adminImg{
    border-radius: 10px;
}
.nav-item i{
    color: #3f1e5f;
    /* font-size: 1.3rem; */
}
.view{
    padding-right: 10px;
    color: blue;
}
.confirm,.update,.info{
    padding-right: 10px;
}
.info{
    color:green;
}
.cancel{
    color: red;
}
.nav-item{
    padding: 1.2rem 0 !important;
    /* border-bottom: 1px solid grey; */
}

.myimg{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.registerBtn {
    background-color: #8FCE00 !important;
  }
.registerBtn:hover {
    background-color: #75a604 !important;
    color: #ffffff !important;
  }
  .address{
    height: 100px !important;
  }
  .companyDetailsLogo{
   max-width: 100px;
   height: auto;
  }
  
.logoImg{
    max-width: 100px;
    max-height: 100px;
}
.photoContainer{
    position: relative;
}
.photo{
    max-width: 150px;
    max-height: 150px;
}
.photo:hover{
    opacity: 0.5;
}
.deleteIcon{
    z-index: 1; 
    position: absolute;
    top: -20px;
    right: 10px;
}
.profileImg{
    width: 100px;
    height: 100px;
}
.close:hover{
    color: orange !important;
}
.jobAttribute{
    color: #0D2B4E;
    border-bottom: 1px solid #0D2B4E;
}