@font-face {
    font-family: "Constantine_Bold";
    src: url("/public/fonts/constantine/Constantine_Bold.ttf");
}
@font-face {
    font-family: "Cinzel-Bold";
    src: url("/public/fonts/cinzel/Cinzel-Bold.ttf");
}
@font-face {
    font-family: "Gotham-Bold";
    src: url("/public/fonts/Gotham-Font/Gotham-Bold.otf");
}
@font-face {
    font-family: "Gotham-Medium";
    src: url("/public/fonts/Gotham-Font/GothamMedium.ttf");
}
@font-face {
    font-family: "JosefinSans-Mediums";
    src: url("/public/fonts/Josefin_Sans/static/JosefinSans-Medium.ttf");
}